#recipe {
    text-align: center;
    background-color: var(--color-bg-recipe);
    padding: 20px;
    margin-top: 20px;
}

.recipe__container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
}

.match__btn-group {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btn__match {
    padding: 2px 5px;
    min-width: 70px;
    min-height: 30px;
    border: none;
    background-color: var(--color-btn-match-bg);
    color: var(--color-btn-text);
}

.btn__match.active {
    background-color: var(--color-btn-select-bg);
    color: white;
}

